#navtop {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:none;
  }

#navtop li {
  float:left;
  }

#navtop li a {
  display:block;
  color:black;
  text-align:center;
  padding:14px 85px;
  font-family:tahoma;
  font-size:20pt;
  text-decoration:none;
  float:center;
}

#navtop .active {
  color:white;
}

body {
  background-color:#C2C2C2;
  color:white;
}

header {
width: 20%;
color:black;
font-family:Gill Sans MT;
font-size: 48pt;
float:left;
margin: 0 0 0 1.25%;
}
header a {
color:#B60D0D;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align:center;
  color:white;
  font-size:36pt;
  font-style:bold;
}

h2 {
 font-family:Calibri;
 text-align:center;
 font-size:32pt;
 font-style:;
}
#home-text {
  font-family: 'Hind Siliguri', sans-serif;
  font-size:20pt;
  text-align:center;
  color:white;
  margin-left:16.5%;
  margin-right:15%;
  background-color: rgb(0,0,0);
}
p {
  font-family: 'Hind Siliguri', sans-serif;
  font-size:20pt;
  text-align:center;
  color:black;
  margin-left:15%;
  margin-right:15%;
}

img {
  padding-top:20px;
  margin-left:16.5%;
}

.funfacts {
	font-family: 'Hind Siliguri', sans-serif;
	color:357CD9;
	font-size:30px;
	font-style:italic;
	text-align:center;
	margin-left:15%;
	margin-right:15%;
}

.attractions {
	margin-right:5%;
}

.next{
font-family: 'Lato', sans-serif;
font-size:16pt;
color:#3481DD;
float:right;

}

.previous {
font-family: 'Lato', sans-serif;
font-size:16pt;
color:#3481DD;
float:left;

}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

iframe {
	margin-left:16.5%;
}

.vid1 {
	margin-top:1.5%;
	margin-left:2.5%;
}

.rotateimg90 {
  //Use to rotate panorama images at a later date\\
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

}
